// Nav
.nav {
	width: 100%;
	position: fixed;
	height: 60px;
	z-index: 5;
	background-color: $BGC;

	// .nav__navigation-menu
	&__navigation-menu {
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
	}

	// .nav__menu-elem
	&__menu-elem {
		display: flex;
		align-items: center;
		align-content: center;

		li:not(.nav__menu-toggle-currency) {
			margin: 0 20px;
			
			&:first-of-type {
				margin-left: 0;
			}
			&:last-of-type {
				margin-right: 0;
			}
		}
		// .nav__menu-elem--leftside
		&--leftside {
			margin-right: auto;
		}
		// .nav__menu-elem--rightside
		&--rightside {
			margin-left: auto;
		}
	}
	// .nav__menu-link
	&__menu-link {
		a {
			color: $ThemeColor_Green;
			&:after {
				background-color: $ThemeColor_Green;
				display: block;
				content: '';
				width: 0%;
				height: 2px;
			}
			&:hover {
				&:after {
					width: 100%;
				}
			}
		}
	}
	// .nav__brand
	&__brand {
		margin-top: 5px;
	}
	// .nav__menu-button
	&__menu-button {
		a {
			display: flex;
			align-items: center;
			align-content: center;
		}
	}
	// .nav__menu-toggle-currency
	&__menu-toggle-currency {
		margin-left: 60px;
	}
}
.brand {
	display: flex;
	// .brand__logo
	&__logo {}
}
.toggle-currency {
	display: flex;
}
.toggle-currency__button {
	color: $ThemeColor_Green;
	margin-right: 40px;
	// .toggle-currency__button--active
	&--active {
		color: black;
	}
	&:last-of-type {
		margin-right: 0;
	}
}
