// Footer
.footer {
	background-color: $ThemeColor_Green;
	width: 100%;

	#content.footer__menu {
		display: flex;
		justify-content: space-around;
		padding: 80px 0;
	}

	// .footer__menu-col
	&__menu-col {
		display: block;
		width: 33.333%;
		&:not(&--logo) {
			margin-top: 80px;
		}
	}
	// .footer__menu-col--logo
	&__menu-col--logo {}
	// .footer__menu-row
	&__menu-row {
		display: block;
		margin: 20px 0;
		&:first-of-type {
			margin-top: 0;
		}
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	// .footer__brand
	&__brand {
		width: 200px;
	}
	// .footer__menu-link
	// &__menu-link {}
	// .footer__menu-paragraph,
	// .footer__menu-link
	&__menu-paragraph,
	&__menu-link {
		color: white;
	}
	// .footer__menu-link--social
	&__menu-link--social {
		display: inline-block;
		width: 40px;
		height: 40px;
		
		&:not(&:last-of-type) {
			margin-right: 40px;
		}
	}
}
.brand {
	// .brand__logo
	&__logo {}
}